#text-container {
  .container {
    margin-bottom: 5em;

    @media only screen and (max-width: 400px) {
      margin-bottom: 3em;
    }
  }
  
  i {
    display: block;
    font-size: $fontSize64;
    color: $bgColorAccent;
    text-align: center;
    padding-bottom: $paddingLittleSpace;

    @media only screen and (max-width: 1000px) {
      font-size: $fontSize40;
    }
  }

  p {
    font-size: $fontSize24;
    text-align: justify;

    @media only screen and (max-width: 1000px) {
      font-size: $fontSize17;
    }

    @media only screen and (max-width: 600px) {
      font-size: $fontSize12;
    }
  }
}