#statistic-section {

  .bg-container {
    background: url(/assets/images/bann.jpg) no-repeat center/cover;
    padding-left: calc((100% - 80%) /2);
    padding-right: calc((100% - 80%) /2);
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .statistic-zoom-in {
    transform: scale(0);
    transition: $transition08;
  }

  h3 {
    text-align: center;
  }

  .text-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 3em;
  }

  .text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    h5,
    p {
      font-size: $fontSize24;
      font-weight: $fontWeightMedium;
      color: $colorPrimary;
    }

    p {
      line-height: 15px;
    }
  }

  .img {
    height: 60px;
    width: 60px;
    margin: 1.5em 0;
  }

  .img1 {
    background: url(/assets/images/s7.png) no-repeat center/contain;
  }

  .img2 {
    background: url(/assets/images/s8.png) no-repeat center/contain;
  }

  .img3 {
    background: url(/assets/images/s9.png) no-repeat center/contain;
  }

  .img4 {
    background: url(/assets/images/s10.png) no-repeat center/contain;
  }
}