#hero-section {
  .banner-container {
    height: 100%;
    width: 100%;
    background: url(/assets/images/banner.jpg) no-repeat center/cover;
    padding: 120px 0;
  }

  .text-container {
    width: 50%;
    @extend %flex-center;
    flex-direction: column;
    background: rgba(235, 235, 235, 0.8);
    padding: 100px;
    margin: 0 auto;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    animation: zoomIn 3s ease-in-out forwards;
    transition: $transition05;      
  }

  h1 {
      font-family: $fontFamilySecondary;
      font-size: $fontSize48;
      font-weight: $fontWeightMedium;
      color: $colorSecondary;
      letter-spacing: 3px;
  }

  h2 {
      font-size: $fontSize32;
      font-weight: $fontWeightRegular;
      color: $colorSecondary;
      padding: 30px 0;
  }
}